html {
  background-color: rgb(245, 245, 245);
}

#root {
  max-width: 1000px;
  margin: auto;
  font-family: -apple-system,
    BlinkMacSystemFont,
    sans-serif,
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
  color: rgb(30, 30, 30);
}

.profilePicture {
  background: url('img/Manu.jpg');
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 75px;
  border: solid 5px white;
  margin: 20px;
}

.name {
  font-weight: bold;
  font-size: 1.2em;
}

.status {
  font-size: 1em;
  width: 50%;
}

.title {
  text-align: center;
  font-size: 3em;
  margin-top: 70px;
}

.title span {
  color: orange;
  font-weight: bold;
}

h1 {
  font-weight: 100;
  box-shadow: -4px -4px 6px #ffffff;
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 120px;
}

img {
  margin-left: auto;
  margin-right: auto;
}

.description {
  margin-bottom: 30px;
  line-height: 1.5em;
}

.description .tools {
  color: rgb(142, 142, 142);
}

.description .tools i {
  margin: 0 10px 0 0;
}

.sub-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.logos img {
  height: 50px;
  margin: 0 15px;
}

.wid {
  writing-mode: tb;
  transform: rotate(180deg);
  float: left;
}

.legende {
  text-align: center;
  font-style: italic;
  color: rgb(142, 142, 142);
  font-size: 0.8em;
  margin-bottom: 60px;
}

.roles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 40px;
  margin-bottom: 40px;
}

.role {
  margin: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: rgb(142, 142, 142);
  margin-top: 20px;
}

.role div {
  width: 40px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 1.4em;
  border-radius: 50px;
  box-shadow: 3px 3px 5px #e6e6e6,
    -3px -3px 5px #ffffff;
}

.role i {
  margin-top: 10px;
}

.role span {
  font-size: 0.8em;
  font-weight: normal;
}

.visual {
  border-radius: 6px;
  box-shadow: 4px 4px 6px #e6e6e6,
    -4px -4px 6px #ffffff;
}

.linkedin-icon {
  width: 15px;
  vertical-align: middle;
}

.footer {
  margin-top: 100px;
  text-align: center;
}

.footer .contactLink {
  font-size: 2em;
  margin: 10px;
  width: 40px;
  display: block;
  color: orange;
}

.footer .contactMeButton {
  text-decoration: none;
  color: rgb(30, 30, 30);
  text-transform: uppercase;
  display: block;
  border: solid 2px rgb(30, 30, 30);
  width: 180px;
  margin: auto;
  padding: 10px;
  border-radius: 30px;
}

.footer .contactMeButton:hover {
  color: white;
  background-color: rgb(30, 30, 30);
}

.footer .quote {
  font-style: italic;
  font-weight: 200;
  font-size: 1.5em;
  width: 60%;
  min-width: 450px;
  margin: 100px auto 0 auto;
}

.footer .quote span {
  display: block;
  font-size: 0.8em;
  color: rgb(142, 142, 142);
}